apiVersion: v1
kind: Service
metadata:
  name: crawler-service
  namespace: automation
  labels:
    app: crawler
spec:
  type: ClusterIP
  selector:
    app: crawler
    component: worker
  ports:
  - port: 9090
    targetPort: metrics
    protocol: TCP
    name: metrics
  sessionAffinity: None