name: gofordevops

on:
  push:
    branches: [master]

jobs:

  gofordevops:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23

      - name: Verify dependencies
        run: go mod verify

      - name: Run tests
        run: go test -v ./...